<div>
  <input [(ngModel)]="message" placeholder="Enter message">
  <button (click)="send()">Send Message</button>
</div>

<div>
  <h3>Received Messages:</h3>
  <p>Your username is {{ randomUserName }}</p>
  <ul>
    <li *ngFor="let msg of webSocketService.msg">
      <span class="username" [ngClass]="randomUserName == msg.username ? 'current-user' : 'other-user'">
        {{ randomUserName == msg.username ? 'You' : msg.username }} :: 
      </span>
      <span>{{ msg.text }}</span>
    </li>
  </ul>
  
