.skowly-header {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #d8d8e8;
  padding: 15px 20px 10px 0;
}

.header-section {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 8px;
  width: auto;
  margin: 0 10px;
  &:hover {
    background-color: #f7f7fa;
  }
}

.user-section .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.user-section .user-details {
  flex-grow: 1;
  padding: 10px;
}

.user-section .user-name,
.user-section .user-role {
  display: block;
}

.text,
.dropdown-item-text {
  color: #565675;
  font-size: 0.95em;
}

.dropdown-item-text {
  cursor: pointer;
  padding: 7px 5px;
  &.active {
    color: #fff;
    background-color: #565675;
  }
  &:active {
    background-color: #c0c0da;
  }
}

.user-section .user-role {
  color: #fc811a;
  font-size: 0.9em;
}

.arrow-icon {
  color: --primary;
  margin: 0 15px 0 10px;
  font-size: 1.6em;
}

.header-icon {
  color: #565675;
  margin: 0 10px;
  font-size: 1.5em;
}

.down-icon {
  margin: 0 7px;
  font-size: 1.3em;
}

.skowly-logo {
  height: 40px;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

.language-selection {
  .dropdown-toggle::after {
    display: none;
  }
}

.dropdown-menu {
  border-color: #d8d8e8;
  margin-top: 10px;
  box-shadow: 2px 0px 10px 1px rgba(32, 30, 69, 0.4);
  -webkit-box-shadow: 2px 0px 10px 1px rgba(32, 30, 69, 0.4);
  -moz-box-shadow: 2px 0px 10px 1px rgba(32, 30, 69, 0.4);
}

.menu-item {
  padding: 4px 5px;
}

hr {
  margin: 0;
}