@import 'variables';




/* Custom styling for the component background */
.container {
  background-color: white; /* Set your desired background color */
  padding: 20px;
}

/* Custom styling for the tabs */
.custom-tabs {
  .nav-tabs {
    background-color: transparent; /* Transparent background for tabs */
    
    .nav-link {
      color: $primary; /* Color for tab links */
      background-color: transparent; /* Transparent background for tab links */
      border: none; /* Remove tab link border */
      border-radius: 0; /* Remove tab link border radius */
      &.active {
        background-color: $primary; /* Background color for active tab */
        color: #fff; /* Text color for active tab */
      }
    }
  }
}

/* Custom styling for form inputs */
.custom-input {
  border-color: $primary;
  &:focus {
    border-color: $secondary;
    box-shadow: 0 0 0 0.2rem rgba(230, 126, 34, 0.25);
  }
}

/* Custom styling for buttons */
.custom-button {
  background-color: $primary;
  border-color: $primary;
  color: #fff;
  &:hover {
    background-color: $secondary;
    border-color: $secondary;
  }
}