<div class="role-selection-container" [ngClass]="{'screen-mode': !isEmbedded}">
  <h1 *ngIf="!isEmbedded" class="role-selection-title">{{ "global.roles.loginAs" | translate }}</h1>
  <div
    class="role-container d-flex align-content-center justify-content-center flex-wrap"
  >
    <div
      class="role-item primary-border"
      style="cursor: pointer"
      *ngFor="let item of rolesDataList"
      (click)="setSelectedRole(item.value)"
    >
      <i
        *ngIf="selectedRole === item.value"
        class="fa-regular fa-circle-check check-icon"
      ></i>
      <!-- <div class="d-flex align-content-center flex-row"> -->
        <div>
        <div class="role-img align-self-center">
          <img [src]="item.imgUrl" alt="Role Image" class="role-image" />
        </div>
        <div class="role-info align-self-center">
          <h5>{{ item.label | translate }}</h5>
        </div>
      </div>
    </div>
    <div
      *ngIf="rolesDataList.length === 0"
      class="role-problem primary-border"
    >
      <div class="">
        <div class="role-img align-self-center">
          <img
            src="/assets/img/roles/problem.png"
            alt="Role problem"
            class="role-image"
          />
        </div>
        <div class="role-info align-self-center">
          <p>{{ "global.roles.noRole" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
