@import "variables";

.role-selection-container {
  color: $primary;
  text-align: center;
  width: 100%;
  padding: 0 10vw;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.check-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5em;
  padding: 10px;
  color: $secondary;
}

.role-selection-title {
  font-size: 2em;
  margin-bottom: 1em;
}

.d-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.role-item {
  position: relative;
  min-width: 250px;
  margin: 10px;
  padding: 5px 10px;
  background-color: white;
  &:hover {
    background-color: #fbf9f7;
  }
}

.role-problem {
  background-color: transparent;
  color: $secondary;
  position: relative;
  min-width: 300px;
  margin: 10px;
  padding: 5px 10px;
}

.role-image {
  width: 100px;
  padding: 10px 10px;
}
